<div class="row mt-2">
    <div class="col-lg-3" style="text-align: center;">
        <div class="row">
            <img src="{{ asset('assets/img/github-logo.png') }}" width="100" class="img-fluid rounded" alt="" style="height: 100px;">
        </div>
        <div class="row">
            <h6>GitHub</h6>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <div class="row">
            <img src="{{ asset('assets/img/sourcetree-logo.png') }}" width="100" class="img-fluid rounded" alt="" style="height: 100px;">
        </div>
        <div class="row">
            <h6>SourceTree</h6>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <div class="row">
            <img src="{{ asset('assets/img/phpstorm-logo.png') }}" width="100" class="img-fluid rounded" alt="" style="height: 100px;">
        </div>
        <div class="row">
            <h6>PhpStorm</h6>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <div class="row">
            <img src="{{ asset('assets/img/iis-logo.png') }}" width="100" class="img-fluid rounded" alt="" style="height: 100px;">
        </div>
        <div class="row">
            <h6>Microsoft IIS</h6>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-3" style="text-align: center;">
        <div class="row">
            <img src="{{ asset('assets/img/linux-logo.png') }}" width="100" class="img-fluid rounded" alt="" style="height: 100px;">
        </div>
        <div class="row">
            <h6>Linux Serveur</h6>
        </div>
    </div>
</div>
