<nav class="navbar navbar-dark bg-inverse my-1">
    <div class="container">
        <a class="navbar-brand" href="{{ path('jl_platform_homepage') }}">
            <img src="{{ asset('assets/img/logo2.png') }}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
        </a>
        <a class="navbar-toggler hidden-lg-up float-xs-right" href="#" role="button" data-toggle="collapse" data-target="#navbarResponsive" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation"></a>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <br class="hidden-lg-up">
            <ul class="nav navbar-nav">
                {% if app.request.get('_route') == 'jl_platform_homepage' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('jl_platform_homepage') }}">
                            <i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jl_platform_homepage') }}">
                            <i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}
                {% if app.request.get('_route') == 'jl_platform_portfolio' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('jl_platform_portfolio') }}">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Portfolio
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jl_platform_portfolio') }}">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Portfolio
                        </a>
                    </li>
                {% endif %}
                {% if app.request.get('_route') == 'jl_platform_competences' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('jl_platform_competences') }}">
                            <i class="fa fa-book" aria-hidden="true"></i> Competences
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jl_platform_competences') }}">
                            <i class="fa fa-book" aria-hidden="true"></i> Competences
                        </a>
                    </li>
                {% endif %}
                {% if app.request.get('_route') == 'jl_platform_contact' or app.request.get('_route') == 'jl_platform_contact_post'%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('jl_platform_contact') }}">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jl_platform_contact') }}">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
