{# src/JL/PlatformBundle/Resources/views/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Mes competences
{% endblock title %}

{% block bsFile %}
    {{ parent() }}
{% endblock bsFile %}

{% block contentBody %}
    <div class="container">
        <div class="row">
            <h4>
                <i class="fa fa-terminal fa-lg" aria-hidden="true"></i><strong id="title-page"></strong>
                <em class="text-muted">Ce que je maîtrise</em>
            </h4>
        </div>
        <div class="row">
            <h5 style="margin-left: 10px;">
                <i class="fa fa-globe" aria-hidden="true"></i><strong> Techno</strong>
                <em class="text-muted">Les différentes technologies</em>
            </h5>
        </div>
        {{ include('@JLPlatform/competences/technos.html.twig') }}
        <hr class="separator-row">
        <div class="row">
            <h5 style="margin-left: 10px;">
                <i class="fa fa-hdd-o" aria-hidden="true"></i><strong> Hardware</strong>
                <em class="text-muted">Les logiciels et supports</em>
            </h5>
        </div>
        {{ include('@JLPlatform/competences/hardware.html.twig') }}

    </div>
    <hr class="separator-footer">
    {{ include('@JLPlatform/footer.html.twig') }}
{% endblock contentBody %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            var str1 = " Mes compétences";

            var showText = function( target, message, index, interval ){
                if ( index < message.length ){
                    $( target ).append( message[ index++ ] );

                    setTimeout( function(){
                        showText( target, message, index, interval);
                    }, interval);
                }
            };

            showText("#title-page", str1, 0, 100);
        });
    </script>
{% endblock javascripts %}
